
<html>
<head><meta http-equiv="content-type" content="text/html; charset=UTF-8">
<style type="text/css">
.hidden{
	display: none;
}
</style>
<script type="text/javascript" src="jquery.min.js"></script>
<script type="text/javascript">
$(function(){
	$('button').click(function(){
		$('.text').toggle();
	})
})
	
</script>
 </head>
 <body>
 	<div class="comment">
		<p><h3>评论</h3>  <button id="response"> 回复</button></p>
		<div class=" text">
			<textarea row='3' cols='50'></textarea>
		</div>
	</div>
 </body>
 </html>